
  <div class="card mt-5">
    <div class="card-title bg-danger" > <div class="row  justify-content-center">
      <h2 class="mr-2 titre ">Liste Des <b> Des Référentiel</b></h2>
      <a  [routerLink]="['/referentieladd']" class="btn ml-5 btn-success" data-toggle="modal"><i class="fa fa-user-plus"></i></a>
    </div></div>
    <div class="row mt-5 justify-content-center">
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 mr-2 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 ml-1 col-md-2">
        <table class="table table-striped table-hover text-center rounded float-right shadow-lg table-bordered">
          <tbody>
          <tr>
            <td>Libelle
              <a href="#" class="delete float-right" title="Delete" data-toggle="tooltip"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="edit float-right" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            </td>
          </tr>
          <tr> <td class="desc">Presentation</td> </tr>
          <tr> <td>Groupe de Competences</td> </tr>
          <tr> <td>Programme</td> </tr>
          <tr> <td>Critère d'évaluation</td> </tr>
          <tr> <td>Critère d'admission</td> </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>






