


      <div class="row  justify-content-center mt-5">
      <h1 class="mr-2 titre mt-3"> <b> Liste Des Référentiel</b>
        <a [routerLink]="['/referentieladd']" class="btn btn-outline-danger ml-5" data-toggle="modal"><i class="fas fa-plus-circle f-2 "></i></a>
      </h1>

    </div>
    <div class="row mt-5 justify-content-center">
      <div class="row  justify-content-center">
        <ng-container *ngFor="let ref of referentiels">
          <div class="card row mt-3 mycollapse shadow-lg col-md-12 text-center" style="background-color: whitesmoke; border: 2px solid #49827c">
            <div class="card-body">
              <button class="float-right ml-3 supprimer " title="Delete" data-toggle="tooltip" (click)="OnDelete(ref.id)">
                <i class="fa fa-times" aria-hidden="true"></i></button>
              <h2 class="card-title ml-5"><b>{{ref.libelle}}</b></h2>

              <p>
                <button class="btn btn-danger disabled" type="button" data-toggle="collapse"data-target="#presentation" aria-expanded="false"  aria-controls="collapseExample">
                  Presentation
                </button>
              </p>
              <div class="row">
                  <p class=" ml-5">{{ref.presentation}}</p>
              </div>
              <p>
                <button class="btn btn-outline-danger mt-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"  aria-controls="collapseExample">
                  Groupe De Competence
                </button>
              </p>

              <div class="collapse " id="collapseExample">
                <div class="card card-body">

                        <ng-container *ngFor="let gC of ref.groupeCompetence">
                          <button class="btn btn-danger w-25 mt-2 ml-5">{{gC.libelle}}</button>
                        </ng-container>
                </div>
              </div>

              <p>
                <button class="btn btn-outline-danger mt-2" type="button" data-toggle="collapse" data-target="#Programme" aria-expanded="false"  aria-controls="collapseExample">
                  Programme
                </button>
              </p>

              <div class="collapse " id="Programme">
                <div class="card card-body">
<!--
                  <iframe src="data:application/pdf;base64,{{ref.programme}}" height="100%" width="100%"></iframe>-->
                  <!--<iframe id="documentFrame" width="100%" height="600" [src]="{{ref.programme}}" *ngIf="documentData"></iframe>-->

                    <iframe *ngIf="ref.programme" [src]="getPdf(ref.programme)" class="hauteur"></iframe>

                </div>
              </div>

              <p>
                <button class="btn btn-danger mt-2 disabled" type="button" data-toggle="collapse" data-target="#evaluation" aria-expanded="false"  aria-controls="collapseExample">
                  Criteres D'evaluation
                </button>
              </p>

              <div class="row">
                  <p class=" ml-5">{{ref.critereDev}}</p>
              </div>

              <p>
                <button class="btn btn-danger mt-2 disabled" type="button" data-toggle="collapse" data-target="#admission" aria-expanded="false"  aria-controls="collapseExample">
                  Criteres D'admission
                </button>
              </p>

              <div class="row">
                  <p class=" ml-5">{{ref.critereDad}}</p>
              </div>


            </div>
          </div>
        </ng-container>


    </div>
  </div>






