<div class="table-wrapper col-10">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Liste <b>Utilisateurs</b></h2>
      </div>
      <div class="col-sm-6">
        <a routerLink="" class="btn btn-success" data-toggle="modal"><i class="fa fa-user-plus"></i> <span>Nouveau utilisateurs</span></a>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover text-center">
    <thead>
    <tr>
      <th>Avatar</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Profil</th>
      <th>Mail</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="assets/images/sa.jpeg" class="img-circle"></td>
      <td>Thomas Hardy</td>
      <td>thomashardy@mail.com</td>
      <td>89 Chiaroscuro Rd, Portland, USA</td>
      <td>(171) 555-2222</td>
      <td>
        <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td><img src="assets/images/sa.jpeg" class="img-circle"></td>
      <td>Thomas Hardy</td>
      <td>thomashardy@mail.com</td>
      <td>89 Chiaroscuro Rd, Portland, USA</td>
      <td>(171) 555-2222</td>
      <td>
        <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td><img src="assets/images/sa.jpeg" class="img-circle"></td>
      <td>Thomas Hardy</td>
      <td>thomashardy@mail.com</td>
      <td>89 Chiaroscuro Rd, Portland, USA</td>
      <td>(171) 555-2222</td>
      <td>
        <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td><img src="assets/images/sa.jpeg" class="img-circle"></td>
      <td>Thomas Hardy</td>
      <td>thomashardy@mail.com</td>
      <td>89 Chiaroscuro Rd, Portland, USA</td>
      <td>(171) 555-2222</td>
      <td width="150px">
        <a href="#" class="view" title="Details" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
        <a href="#" class="edit" title="Modifier" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a href="#" class="delete" title="Suprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="clearfix">
    <ul class="pagination">
      <li class="page-item disabled"><a href="#">Previous</a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item active"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
  </div>
</div>

