<div class="container ">
  <div class="card" style="width: 30rem;">
    <img class="card-img-top" src="assets/images/sa.jpeg" alt="Card image cap" height="150px">
    <div class="card-body">
      <h5 class="card-title text-center">Nouveau Utilisateur</h5>


      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nom</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="nom">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Prenom</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Prenom">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="text" class="form-control"  placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Profil</label>
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>ADMIN</option>
              <option>CM</option>
              <option>Formateur</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Avatar</label>
            <input type="file" accept="image/png,jpg" class="form-control" id="inputPassword4" placeholder="Prenom">
          </div>

          <im
        </div>


    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>



    </div>
  </div>
</div>


